<div class="row">
  <% if @user_vendors.any? %>
    <h2 class="center">Shops I'm Tracking</h2>
    <% @user_vendors.each do |user_vendor| %>
      <%= render 'vendor', vendor: user_vendor.vendor, user_vendor_id: user_vendor.id %>
    <% end %>
  <% else %>
    <div class="row">
      <div class="col s12">
        <div class="card">
          <div class="card-content">
            <h4 class="center">Start tracking your favorite Doughnut Vault <%= link_to 'shops!', vendors_path %></h4>
            <%= render 'shared/image_carousel' %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

