<div class="col s12 m6">
  <div class="card">
    <div class="card-image">
      <%= image_tag vendor.image.small %>
      <span class="card-title"><%= vendor.name %></span>
      <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
    </div>
    <div class="card-content">
      <% if vendor.sold_out? %>
        <div class="tag center">
            <i class="small material-icons">location_off</i>
          <div class="tag-text">Sold Out</div>
        </div>
      <% end %>
    </div>
  </div>
</div>