.mt-30 {
  margin-top: 30px;
}

.tag {
  background-color: #ddd;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 100%;
  padding: 5px 0;
  margin-top: 10px;
}

.tag-text {
  // padding-bottom: 10px;
}