.mt-30 {
  margin-top: 30px;
}

.tag {
  background-color: #ddd;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 100%;
  padding: 5px 0;
  margin: 10px 0;
}

.vendor-specials {
  min-height: 120px;
}